.ql-snow .ql-editor h1 {
  font-size: 40px;
}

.ql-editor p {
  font-size: 16px;
}

.ql-snow .ql-editor h1 {
  font-size: 40px;
}

.ql-snow .ql-editor h2 {
  font-size: 32px;
}

.ql-snow .ql-editor h3 {
  font-size: 24px;
}
